html
  head
    title Rehan Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href= "/index") Home]
            li #[a(href= "/index") About]
            li #[a(href= "/index") Services]
            li #[a(href= "/index") Class Info]
            li #[a(href= "/contact") Contact us]
    block content
    footer#footer
        | Copyright 1999-2020 by Refsnes Data. All Rights Reserved.
        div RDA is Powered by Rehan